.all, h1 {
	margin-left: 20%;
	border-color: gray;
}

hr {
	width: 100%;
	margin-left: -20%
}

#reply {
	text-align: right;
}


.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 80%;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
}

.active, .accordion:hover {
	background-color: #ccc;
}

.panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
}