/* btnLoginS 빨강바탕 로그인 작은 버튼 메인용 */
.btnLoginS {
  text-indent:0px;
  line-height:12px;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-align:center;
  vertical-align:middle;
  display:inline-block;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #ff0000;
  width:80px;
  height:37px;
  padding: 13px;
  text-decoration: none;
  text-shadow:#ffffff 2px 2px 25px;
  border-color:#919191;
  border-width:0px;
  border-style:solid;
}

.btnLoginS:Active {
	position:relative;
	top:1px;
	
}

 .btnLoginS:hover { 
  text-decoration: none;
}

/* btnLoginL 빨강바탕 로그인 큰 버튼 로그인페이지용 */
.btnLoginL {
	font-weight:bold;
	text-decoration:none;
	font-family:Arial;
	text-indent:0px;
	line-height:24px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:16px;
	color:#ffffff;
	background:#ff0000;
	width:316px;
	height:50px;
	padding: 13px;
	text-shadow:#ffffff 2px 2px 25px;
	border-color:#919191;
	border-width:0px;
	border-style:solid;
}

.btnLoginL:active {
	position:relative;
	top:1px
}

.btnLoginL:hover {
}

/* btnKakaoLogin 노랑바탕 카카오로그인 큰 버튼 로그인페이지용 */
.btnKakaoLogin {
	font-weight:bold;
	text-decoration:none;
	font-family:Arial;
	text-indent:0px;
	line-height:24px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:16px;
	color:#000000 85%;
	background:#FEE500;
	width:316px;
	height:50px;
	padding: 13px;
	text-shadow:#ffffff 2px 2px 25px;
	border-color:#919191;
	border-width:0px;
	border-style:solid;
}

.btnKakaoLogin:active {
	position:relative;
	top:1px
}

.btnKakaoLogin:hover {
}

/* btnJoin 빨강바탕 회원가입 버튼 회원가입 페이지용 */
.btnJoin {
	font-weight:bold;
	text-decoration:none;
	font-family:Arial;
	text-indent:0px;
	line-height:24px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:16px;
	color:#ffffff;
	background:#ff0000;
	width:316px;
	height:50px;
	padding: 13px;
	text-shadow:#ffffff 2px 2px 25px;
	border-color:#919191;
	border-width:0px;
	border-style:solid;
}

.btnJoin:active {
	position:relative;
	top:1px
}

.btnJoin:hover {
	background: #ff1919;
  	text-decoration: none;
}

/* btnUpdate 파랑바탕 등록/수정/저장/삭제 버튼 아무데나 페이지용 */
.btnUpdate {
	text-decoration:none;
	font-family:Arial;
	box-shadow:#878787 0px 1px 0px;
	o-box-shadow:#878787 0px 1px 0px;
	-moz-box-shadow:#878787 0px 1px 0px;
	-webkit-box-shadow:#878787 0px 1px 0px;
	text-indent:0px;
	line-height:14px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:13px;
	color:#ffffff;
	background: #1b91e0;
	width:90px;
	height:37px;
	padding:13px;
	text-shadow:#ffffff 2px 2px 25px;
	border-color:#999999;
	border-width:0px;
	border-style:solid;
}

.btnUpdate:active {
	box-shadow:#878787 0px 0 0px;
	o-box-shadow:#878787 0px 0 0px;
	-moz-box-shadow:#878787 0px 0 0px;
	-webkit-box-shadow:#878787 0px 0 0px;
	position:relative;
	top:1px
}

.btnUpdate:hover {
	background: #3498db;
}

/* btnBack 회색바탕 뒤로가기/각종 파일 업로드/아이디 중복 체크 등등 버튼 아무데나 페이지용 */
.btnBack {
	text-decoration:none;
	font-family:Arial;
	box-shadow:#878787 0px 1px 0px;
	o-box-shadow:#878787 0px 1px 0px;
	-moz-box-shadow:#878787 0px 1px 0px;
	-webkit-box-shadow:#878787 0px 1px 0px;
	text-indent:0px;
	line-height:14px;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:13px;
	color:#000000;
	background: #e0e0e0;
	width:96px;
	height:37px;
	padding:13px;
	border-bottom: solid #c4c4c4 1px;
	/* text-shadow:#ffffff 2px 2px 25px; */
	border-color:#999999;
	border-width:0px;
	border-style:solid;
}

.btnBack:active {
	box-shadow:#878787 0px 0 0px;
	o-box-shadow:#878787 0px 0 0px;
	-moz-box-shadow:#878787 0px 0 0px;
	-webkit-box-shadow:#878787 0px 0 0px;
	position:relative;
	top:1px
}

.btnBack:hover {
	background: #ebebeb;
}

/* btnList 파랑바탕 다음/목록등등 버튼 아무데나 페이지용 */
.btnList {
	text-decoration:none;
	font-family:Arial;
	box-shadow:#878787 0px 1px 0px;
	o-box-shadow:#878787 0px 1px 0px;
	-moz-box-shadow:#878787 0px 1px 0px;
	-webkit-box-shadow:#878787 0px 1px 0px;
	text-indent:0px;
	line-height:14px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:13px;
	color:#ffffff;
	background: #017efa;
	width:96px;
	height:37px;
	padding:13px;
	border-bottom: solid #6e6e6e 1px;
	/* text-shadow:#ffffff 2px 2px 25px; */
	/* border-color:#999999; */
	border-width:0px;
	border-style:solid;
}

.btnList:active {
	box-shadow:#878787 0px 0 0px;
	o-box-shadow:#878787 0px 0 0px;
	-moz-box-shadow:#878787 0px 0 0px;
	-webkit-box-shadow:#878787 0px 0 0px;
	position:relative;
	top:1px
}

.btnList:hover {
	background: #2d95f7;
}

/* btnMemberDel 회색바탕 탈퇴 버튼 개인정보 페이지용 */
.btnMemberDel {
	font-weight:bold; 
	text-decoration:none;
	font-family:Arial;
	/* text-shadow: 1px 1px 0px #666666; */
	box-shadow:#878787 0px 1px 0px;
	o-box-shadow:#878787 0px 1px 0px;
	-moz-box-shadow:#878787 0px 1px 0px;
	-webkit-box-shadow:#878787 0px 1px 0px;
	text-indent:0px;
	line-height:14px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:13px;
	color: #000000;
	background: #ccc8cc;
	width:90px;
	height:37px;
	padding:13px;
	/* text-shadow:#ffffff 2px 2px 25px; */
	border-color:#999999;
	border-width:0px;
	border-style:solid;
}

.btnMemberDel:active {
	box-shadow:#878787 0px 0 0px;
	o-box-shadow:#878787 0px 0 0px;
	-moz-box-shadow:#878787 0px 0 0px;
	-webkit-box-shadow:#878787 0px 0 0px;
	position:relative;
	top:1px
}

.btnMemberDel:hover {
	background: #d6d6d6;
}

/* btnEmailSend 파랑바탕 이메일보내기 버튼 아이디/비번찾기 페이지용 */
.btnEmailSend {
	font-weight:bold;
	text-decoration:none;
	font-family:Arial;
	text-shadow: 1px 1px 0px #666666;
	text-indent:0px;
	line-height:24px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:16px;
	color:#ffffff;
	background: #1b91e0;
	width:316px;
	height:50px;
	padding: 13px;
	border-bottom: solid #666666 1px;
	/* text-shadow:#ffffff 2px 2px 25px; */
	border-color:#919191;
	border-width:0px;
	border-style:solid;
}

.btnEmailSend:active {
	position:relative;
	border-bottom: solid #666666 1px;
	top:1px
}

.btnEmailSend:hover {
	background: #3498db;
  	text-decoration: none;
}

div.buttonCenter{
   width: 400px; 
   position: absolute; 
   left: 50%; 
   margin-left: -200px;

}
