body{
	background-image: url("../image/background.jpg");
	background-size: cover;
	font-family:Arial;
}
.loginArea{
	position:absolute;
	vertical-align:middle;
	text-align: center;
	width: 300px;
	height: 500px;
	margin: -200px 0px 0px -200px;
	top: 40%;
	left: 53%;
	color: white;

}

.space{
	margin-top: 50px;
}

input[type="text"]{
	width: 200px;
	height:30px;
	background: #262626;
	font-size: 10pt;
	color: c1c1c1;
	border:none;
	border-radius: 1px;
	padding: 5px;
}
input[type="password"]{
	width: 200px;
	height:30px;
	background: #262626;
	font-size: 10pt;
	color: c1c1c1;
	border: none;
	border-radius: 1px;
	padding: 5px;
}

input :focus {
	outline:none;
}


/* btnLoginL 빨강바탕 로그인 큰 버튼 로그인페이지용 */
.btnLoginL {
	font-weight:bold;
	text-decoration:none;
	font-family:Arial;
	text-indent:0px;
	line-height:24px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:16px;
	color:#ffffff;
	background:#ff0000;
	width:200px;
	height:40px;
	padding: 7px;
	text-shadow:#ffffff 2px 2px 25px;
	border-color:#919191;
	border-width:0px;
	border-style:solid;
}

.btnLoginL:active {
	position:relative;
	top:1px
}

/* btnKakaoLogin 노랑바탕 카카오로그인 큰 버튼 로그인페이지용 */
.btnKakaoLogin {
	font-weight:bold;
	text-decoration:none;
	font-family:Arial;
	text-indent:0px;
	line-height:24px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:14px;
	color:#000000 85%;
	background:#FEE500;
	width:200px;
	height:40px;
	padding: 7px;
	text-shadow:#ffffff 2px 2px 25px;
	border-color:#919191;
	border-width:0px;
	border-style:solid;
}

.btnKakaoLogin:active {
	position:relative;
	top:1px
}

.btnKakaoLogin:hover {
}


#line{
	border-bottom: 1px solid #8C8C8C;
	width: 250px;
	margin: 10 auto;
}

h1, a{
	color: white;
}