@charset "UTF-8";

html {
    font-size : 10px;
}

@media screen and (max-width: 400px) {
    html {
        font-size : 9.210526315789474px;
    }
}

html,
body {
    height : 100%;
}

body {
    background  : #f6f7f8;
    font-family : "IBM Plex Sans", sans-serif;
    font-size   : 1.9rem;
    font-style  : normal;
    font-weight : normal;
    line-height : 1.789;
    color       : #000000;
    margin      : 0;
    padding     : 0;
}

body.nav-wrap-is-visible {
    overflow : hidden;
}

body.ss-bg-white {
    background : #ffffff;
}
.yanado_main {
	position:relative; 
	width: 70%; 
	height: 100%; 
	margin-left: 9%; 
	margin-top: 5%;
}

a {
    color      : #33998a;
    transition : all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
    color : #da5260;
}

a:hover,
a:active {
    outline : 0;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family            : "Heebo", sans-serif;
    font-weight            : 500;
    font-style             : normal;
    color                  : #000000;
    font-variant-ligatures : common-ligatures;
    text-rendering         : optimizeLegibility;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    margin-top    : 6rem;
    margin-bottom : 1.6rem;
}

@media screen and (max-width: 600px) {

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4 {
        margin-top : 5.6rem;
    }
}

h5, .h5,
h6, .h6 {
    margin-top    : 4.8rem;
    margin-bottom : 1.2rem;
}

@media screen and (max-width: 600px) {

    h5, .h5,
    h6, .h6 {
        margin-top    : 4.4rem;
        margin-bottom : 0.8rem;
    }
}

h1, .h1 {
    font-size   : 3.6rem;
    line-height : 1.222;
}

@media screen and (max-width: 600px) {

    h1, .h1 {
        font-size : 3.3rem;
    }
}

h2, .h2 {
    font-size   : 3rem;
    line-height : 1.2;
}

h3, .h3 {
    font-size   : 2.4rem;
    line-height : 1.167;
}

h4, .h4 {
    font-size   : 2.1rem;
    line-height : 1.333;
}

h5, .h5 {
    font-size   : 1.8rem;
    line-height : 1.333;
}

h6, .h6 {
    font-size      : 1.6rem;
    line-height    : 1.5;
    text-transform : uppercase;
    letter-spacing : .16rem;
}

p img {
    margin : 0;
}

p.lead {
    font-family   : "IBM Plex Sans", sans-serif;
    font-weight   : 300;
    font-size     : 2.4rem;
    line-height   : 1.833;
    margin-bottom : 3.6rem;
    color         : #000000;
}

@media screen and (max-width: 1200px) {
    p.lead {
        font-size : 2.2rem;
    }
}

@media screen and (max-width: 600px) {
    p.lead {
        font-size : 2.1rem;
    }
}

em  {
    font-size   : inherit;
    line-height : inherit;
}

em,
i {
    font-family : "IBM Plex Sans", sans-serif;
    font-style  : italic;
}

strong,
b {
    font-family : "IBM Plex Sans", sans-serif;
    font-weight : 700;
}

small {
    font-size   : 1.2rem;
    line-height : inherit;
}

blockquote {
    margin      : 4rem 0;
    padding     : 4rem 4rem;
    border-left : 4px solid black;
    position    : relative;
}

@media screen and (max-width: 600px) {
    blockquote {
        padding : 3.2rem 3.2rem;
    }
}

@media screen and (max-width: 400px) {
    blockquote {
        padding : 2.8rem 2.8rem;
    }
}

blockquote p {
    font-family : "Lora", serif;
    font-weight : 400;
    padding     : 0;
    font-size   : 2.4rem;
    line-height : 1.833;
    color       : #000000;
}

@media screen and (max-width: 500px) {
    blockquote p {
        font-size : 2.2rem;
    }
}

blockquote cite {
    display     : block;
    font-family : "IBM Plex Sans", sans-serif;
    font-size   : 1.5rem;
    font-style  : normal;
    line-height : 1.333;
}

blockquote cite:before {
    content : "\2014 \0020";
}

blockquote cite,
blockquote cite a,
blockquote cite a:visited {
    color  : #7e7e7e;
    border : none;
}


ul {
    list-style : disc;
}

li {
    display : list-item;
}

ol,
ul {
    margin-left : 1.6rem;
}

ul li {
    padding-left : .4rem;
}

ul ul {
    margin : .8rem 0 .8rem 1.6rem;
}

ul.disc li {
    display    : list-item;
    list-style : none;
    padding    : 0 0 0 .8rem;
    position   : relative;
}

ul.disc li::before {
    content        : "";
    display        : inline-block;
    width          : 8px;
    height         : 8px;
    border-radius  : 50%;
    background     : #33998a;
    position       : absolute;
    left           : -16px;
    top            : 11px;
    vertical-align : middle;
}

dt {
    margin : 0;
    color  : #33998a;
}

dd {
    margin : 0 0 0 2rem;
}


/* ------------------------------------------------------------------- 
 * ## floated image
 * ------------------------------------------------------------------- */
img.pull-right {
    margin : 1.2rem 0 0 2.8rem;
}

img.pull-left {
    margin : 1.2rem 2.8rem 0 0;
}

button,
.btn {
    margin-bottom : 1.6rem;
}

fieldset {
    margin-bottom : 1.6rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.video-container,
.ss-custom-select {
    margin-bottom : 3.2rem;
}

/* dots jump */
.dots-jump>div {
    -webkit-animation : dots-jump 1.2s infinite ease;
    animation         : dots-jump 1.2s infinite ease;
    animation-delay   : 0.2s;
}

.dots-jump>div:nth-of-type(1) {
    animation-delay : 0.4s;
}

.dots-jump>div:nth-of-type(3) {
    animation-delay : 0s;
}

@-webkit-keyframes dots-jump {
    0% {
        top : 0;
    }

    40% {
        top : -6px;
    }

    80% {
        top : 0;
    }
}

@keyframes dots-jump {
    0% {
        top : 0;
    }

    40% {
        top : -6px;
    }

    80% {
        top : 0;
    }
}

/* dots fade */
.dots-fade>div {
    -webkit-animation : dots-fade 1.6s infinite ease;
    animation         : dots-fade 1.6s infinite ease;
    animation-delay   : 0.4s;
}

.dots-fade>div:nth-of-type(1) {
    animation-delay : 0.8s;
}

.dots-fade>div:nth-of-type(3) {
    animation-delay : 0s;
}

@-webkit-keyframes dots-fade {
    0% {
        opacity : 1;
    }

    40% {
        opacity : 0.2;
    }

    80% {
        opacity : 1;
    }
}

@keyframes dots-fade {
    0% {
        opacity : 1;
    }

    40% {
        opacity : 0.2;
    }

    80% {
        opacity : 1;
    }
}

/* dots pulse */
.dots-pulse>div {
    -webkit-animation : dots-pulse 1.2s infinite ease;
    animation         : dots-pulse 1.2s infinite ease;
    animation-delay   : 0.2s;
}

.dots-pulse>div:nth-of-type(1) {
    animation-delay : 0.4s;
}

.dots-pulse>div:nth-of-type(3) {
    animation-delay : 0s;
}

@-webkit-keyframes dots-pulse {
    0% {
        -webkit-transform : scale(1);
        transform         : scale(1);
    }

    40% {
        -webkit-transform : scale(1.1);
        transform         : scale(1.3);
    }

    80% {
        -webkit-transform : scale(1);
        transform         : scale(1);
    }
}

@keyframes dots-pulse {
    0% {
        -webkit-transform : scale(1);
        transform         : scale(1);
    }

    40% {
        -webkit-transform : scale(1.1);
        transform         : scale(1.3);
    }

    80% {
        -webkit-transform : scale(1);
        transform         : scale(1);
    }
}


/* ===================================================================
 * # forms 
 *
 * ------------------------------------------------------------------- */
fieldset {
    border : none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    display       : block;
    height        : 6.4rem;
    padding       : 1.6rem 0 1.5rem;
    border        : 0;
    outline       : none;
    color         : #000000;
    font-family   : "IBM Plex Sans", sans-serif;
    font-size     : 1.6rem;
    line-height   : 3.2rem;
    max-width     : 100%;
    background    : transparent;
    border-bottom : 1px solid #c3c3c3;
    transition    : all .3s ease-in-out;
}

.ss-custom-select {
    position : relative;
    padding  : 0;
}

.ss-custom-select select {
    -webkit-appearance : none;
    -moz-appearance    : none;
    appearance         : none;
    text-indent        : 0.01px;
    text-overflow      : '';
    margin             : 0;
    line-height        : 3rem;
    vertical-align     : middle;
}

.ss-custom-select select option {
    padding-left  : 2rem;
    padding-right : 2rem;
}

.ss-custom-select select::-ms-expand {
    display : none;
}

.ss-custom-select::after {
    border-bottom            : 2px solid #000000;
    border-right             : 2px solid #000000;
    content                  : '';
    display                  : block;
    height                   : 8px;
    width                    : 8px;
    margin-top               : -7px;
    pointer-events           : none;
    position                 : absolute;
    right                    : 2.4rem;
    top                      : 50%;
    transition               : all 0.15s ease-in-out;
    -webkit-transform-origin : 66% 66%;
    transform-origin         : 66% 66%;
    -webkit-transform        : rotate(45deg);
    transform                : rotate(45deg);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    color         : #000000;
    border-bottom : 1px solid #000000;
}

input[type="checkbox"],
input[type="radio"] {
    display : inline;
}

label>.label-text {
    display     : inline-block;
    margin-left : 1rem;
    font-family : "IBM Plex Sans", sans-serif;
    line-height : inherit;
}

label>input[type="checkbox"],
label>input[type="radio"] {
    margin   : 0;
    position : relative;
    top      : .2rem;
}


/* ------------------------------------------------------------------- 
 * ## Change Autocomplete styles in Chrome
 * ------------------------------------------------------------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color : #33998a;
    transition              : background-color 5000s ease-in-out 0s;
}


/* ===================================================================
 * # buttons
 *
 * ------------------------------------------------------------------- */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display                 : inline-block;
    font-family             : "Heebo", sans-serif;
    font-weight             : 600;
    font-size               : 1.3rem;
    text-transform          : uppercase;
    letter-spacing          : .5rem;
    height                  : 6rem;
    line-height             : 5.6rem;
    padding                 : 0 3.2rem;
    margin                  : 0 .4rem 1.6rem 0;
    color                   : #000000;
    text-decoration         : none;
    text-align              : center;
    white-space             : nowrap;
    cursor                  : pointer;
    transition              : all .3s ease-in-out;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    background-color        : #d3d3d3;
    border                  : 0.2rem solid #d3d3d3;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    background-color : #c3c3c3;
    border-color     : #c3c3c3;
    color            : #000000;
    outline          : 0;
}

/* button primary
 * ------------------------------------------------- */
.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
    background   : #000000;
    border-color : #000000;
    color        : #ffffff;
}

.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover,
.btn.btn--primary:focus,
button.btn--primary:focus,
input[type="submit"].btn--primary:focus,
input[type="reset"].btn--primary:focus,
input[type="button"].btn--primary:focus {
    background   : #33998a;
    border-color : #33998a;
}




.pull-quote {
    position : relative;
    padding  : 2.4rem 0;
}

.pull-quote blockquote {
    background-color : #efefef;
    border           : none;
    margin           : 0;
    padding-top      : 9.6rem;
    position         : relative;
}

.pull-quote blockquote:before {
    content           : "";
    display           : block;
    height            : 3.2rem;
    width             : 3.2rem;
    background-repeat : no-repeat;
    background        : center center;
    background-size   : contain;
    background-image  : url(../images/icons/icon-quote.svg);
    position          : absolute;
    top               : 4rem;
    left              : 4rem;
}



/* ------------------------------------------------------------------- 
 * ## alert box 
 * ------------------------------------------------------------------- */
.alert-box {
    padding       : 2.4rem 4rem 2.4rem 3.2rem;
    position      : relative;
    margin-bottom : 3.2rem;
    border-radius : 3px;
    font-family   : "IBM Plex Sans", sans-serif;
    font-weight   : 600;
    font-size     : 1.5rem;
    line-height   : 1.6;
}

.alert-box__close {
    position : absolute;
    display  : block;
    right    : 1.6rem;
    top      : 1.6rem;
    cursor   : pointer;
    width    : 12px;
    height   : 12px;
}

.alert-box__close::before,
.alert-box__close::after {
    content  : '';
    position : absolute;
    display  : inline-block;
    width    : 2px;
    height   : 12px;
    top      : 0;
    left     : 5px;
}

.alert-box__close::before {
    -webkit-transform : rotate(45deg);
    transform         : rotate(45deg);
}

.alert-box__close::after {
    -webkit-transform : rotate(-45deg);
    transform         : rotate(-45deg);
}

.alert-box--error {
    background-color : #ffd1d2;
    color            : #dd4043;
}

.alert-box--error .alert-box__close::before,
.alert-box--error .alert-box__close::after {
    background-color : #dd4043;
}

.alert-box--success {
    background-color : #c8e675;
    color            : #637533;
}

.alert-box--success .alert-box__close::before,
.alert-box--success .alert-box__close::after {
    background-color : #637533;
}

.alert-box--info {
    background-color : #d5ebfb;
    color            : #387fb2;
}

.alert-box--info .alert-box__close::before,
.alert-box--info .alert-box__close::after {
    background-color : #387fb2;
}

.alert-box--notice {
    background-color : #fff099;
    color            : #827217;
}

.alert-box--notice .alert-box__close::before,
.alert-box--notice .alert-box__close::after {
    background-color : #827217;
}


.media-wrap {
    margin-bottom : 7.2rem;
}

.media-wrap img,
.media-wrap .video-container {
    vertical-align : bottom;
    margin-top     : 0 !important;
    margin-bottom  : 0 !important;
}


/* ===================================================================
 * # site header
 *
 * ------------------------------------------------------------------- */
.s-wrap {
    position : relative;
}

.s-header {
    z-index           : 100;
    display           : -ms-flexbox;
    display           : -webkit-flex;
    display           : flex;
    -webkit-flex-flow : column nowrap;
    -ms-flex-flow     : column nowrap;
    flex-flow         : column nowrap;
    width             : 300px;
    background-color  : #151515;
    padding-top       : 6.4rem;
    padding-right     : 3.2rem;
    padding-left      : 4.4rem;
    overflow-y        : auto;
    overflow-x        : hidden;
    vertical-align    : top;
    position          : fixed;
    bottom            : 0;
    top               : 0;
    left              : 0;
}


/* ===================================================================
 * # search
 *
 * ------------------------------------------------------------------- */
.search-block {
    z-index          : 400;
    display          : block;
    text-align       : center;
    background-color : #ffffff;
    transition       : all .3s;
    opacity          : 0;
    visibility       : hidden;
    position         : fixed;
    top              : 0;
    left             : 0;
    width            : 100%;
    height           : 100%;
}

.search-form {
    width             : 100%;
    -webkit-transform : translate(0, -50%);
    transform         : translate(0, -50%);
    position          : absolute;
    top               : 50%;
}

.search-form label {
    color : #000000;
}

.search-form::after {
    content        : "Press Enter to begin your search.";
    display        : block;
    letter-spacing : 0.6px;
    font-size      : 1.6rem;
    margin-top     : 3.2rem;
    text-align     : center;
    color          : rgba(0, 0, 0, 0.5);
}

.search-form input[type="search"] {
    background-color : transparent;
    color            : #000000;
    height           : auto;
    width            : 100%;
    font-family      : "IBM Plex Sans", sans-serif;
    font-weight      : 700;
    font-size        : 6rem;
    line-height      : 1.6;
    border           : none;
    border-bottom    : 1px solid rgba(0, 0, 0, 0.1) !important;
    max-width        : 680px;
    padding-top      : .8rem !important;
    padding-bottom   : .8rem !important;
    margin           : 0 auto;
    text-align       : center;
}

.search-form input[type="search"]::-webkit-search-decoration,
.search-form input[type="search"]::-webkit-search-cancel-button,
.search-form input[type="search"]::-webkit-search-results-button,
.search-form input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance : none;
}

.search-form input[type="search"]::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color : #000000;
}

.search-form input[type="search"]:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color   : #000000;
    opacity : 1;
}

.search-form input[type="search"]::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color   : #000000;
    opacity : 1;
}

.search-form input[type="search"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color : #000000;
}

.search-form input[type="search"]::-ms-input-placeholder {
    /* Microsoft Edge */
    color : #000000;
}

.search-form input[type="search"]::placeholder {
    /* Most modern browsers support this now. */
    color : #000000;
}

.search-form input[type="search"].placeholder {
    color : #000000 !important;
}

.search-form input[type="search"]:focus {
    outline : none;
}

.search-form input[type="submit"] {
    display : none;
}

body.search-is-visible {
    overflow : hidden;
}

.search-is-visible .search-block {
    opacity    : 1;
    visibility : visible;
}

/* ------------------------------------------------------------------- 
 * ## close button for search 
 * ------------------------------------------------------------------- */
.search-close {
    position    : absolute;
    display     : block;
    width       : 45px;
    height      : 45px;
    top         : 21px;
    left        : 50%;
    margin-left : -23px;
    font        : 0/0 a;
    text-shadow : none;
    color       : transparent;
}

.search-close::before,
.search-close::after {
    content          : '';
    position         : absolute;
    display          : inline-block;
    width            : 2px;
    height           : 20px;
    top              : 12px;
    left             : 22px;
    background-color : #000000;
}

.search-close::before {
    -webkit-transform : rotate(45deg);
    transform         : rotate(45deg);
}

.search-close::after {
    -webkit-transform : rotate(-45deg);
    transform         : rotate(-45deg);
}

/* ------------------------------------------------------------------- 
 * ## search modal trigger
 * ------------------------------------------------------------------- */
.search-trigger,
.search-line {
    z-index : 100;
}

.search-trigger {
    font-family         : "Heebo", sans-serif;
    font-weight         : 500;
    font-size           : 11px;
    line-height         : 1.6rem;
    text-transform      : uppercase;
    letter-spacing      : 5px;
    color               : #000000;
    transition-property : color;
    position            : fixed;
    right               : 40px;
    top                 : 6.4rem;
}

.search-trigger:focus,
.search-trigger:hover {
    color : #33998a;
}

.search-trigger svg {
    height  : 18px;
    width   : 18px;
    display : block;
}

.search-trigger span {
    content                  : "Search";
    width                    : auto;
    -webkit-transform        : rotate(-90deg);
    transform                : rotate(-90deg);
    -webkit-transform-origin : 1.8rem 100%;
    transform-origin         : 1.8rem 100%;
    position                 : absolute;
    top                      : 72px;
    left                     : 0;
}

.search-line {
    display          : block;
    width            : 1px;
    height           : calc(100vh - 200px);
    background-color : rgba(0, 0, 0, 0.1);
    position         : fixed;
    right            : 48px;
    top              : auto;
    bottom           : 0;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * search
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1100px) {
    .search-trigger {
        z-index  : 101;
        position : fixed;
        top      : 2.6rem;
        right    : 8.8rem;
    }

    .search-trigger svg {
        width  : 28px;
        height : 28px;
    }

    .search-trigger svg path {
        fill : white;
    }

    .search-trigger span,
    .search-line {
        display : none;
    }
}

@media screen and (max-width: 900px) {
    .search-form::after {
        font-size : 1.5rem;
    }

    .search-form input[type="search"] {
        max-width : none;
        width     : 75%;
        font-size : 4.2rem;
    }
}

@media screen and (max-width: 600px) {
    .search-form input[type="search"] {
        font-size : 3.4rem;
    }
}

@media screen and (max-width: 500px) {
    .search-trigger {
        right : 8rem;
    }
}

@media screen and (max-width: 400px) {
    .search-form input[type="search"] {
        font-size : 2.6rem;
    }

    .search-trigger {
        top   : 2.8rem;
        right : 7.2rem;
    }
}


/* ===================================================================
 * # site content & footer 
 *
 * ------------------------------------------------------------------- */
.s-content,
.s-footer {
    padding-left : 330px;
    width        : calc(100% - 100px);
    max-width    : 2140px;
}

/* -------------------------------------------------------------------
 * ## content
 * ------------------------------------------------------------------- */
.s-content {
    padding-top : 6.4rem;
}

.content__page {
    max-width      : 900px;
    padding-bottom : 12rem;
}

.content__page img {
    margin-top    : 3.2rem;
    margin-bottom : 3.2rem;
}

.content__page-header {
    text-align    : center;
    margin-bottom : 4rem;
}

/* -------------------------------------------------------------------
 * ## footer
 * ------------------------------------------------------------------- */
.s-footer {
    padding-top    : 4rem;
    padding-bottom : 8rem;
    font-size      : 1.6rem;
    line-height    : 2.4rem;
    color          : rgba(0, 0, 0, 0.5);
    text-align     : center;
}

.s-footer a {
    color : #000000;
}

/* -------------------------------------------------------------------
 * ## copyright
 * ------------------------------------------------------------------- */
.footer__copyright span {
    display : inline-block;
}

.footer__copyright span::after {
    content : "|";
    display : inline-block;
    padding : 0 1.2rem 0 1.4rem;
    color   : rgba(0, 0, 0, 0.3);
}

.footer__copyright span:last-child::after {
    display : none;
}

/* ------------------------------------------------------------------- 
 * ## go to top
 * ------------------------------------------------------------------- */
.go-top {
    z-index           : 1;
    opacity           : 0;
    visibility        : hidden;
    -webkit-transform : translate(0, 200%);
    transform         : translate(0, 200%);
    transition        : all .8s;
    position          : fixed;
    bottom            : 4rem;
    right             : 1.8rem;
}

.go-top a,
.go-top a:visited {
    text-decoration     : none;
    border              : none;
    display             : block;
    height              : 6rem;
    width               : 6rem;
    line-height         : 6rem;
    text-align          : center;
    text-transform      : uppercase;
    color               : rgba(255, 255, 255, 0.5);
    transition          : all .3s;
    background-image    : url(../images/icons/icon-arrow-up.svg);
    background-color    : #000000;
    background-repeat   : no-repeat;
    background-position : center center;
    background-size     : 7px 14px;
}

.go-top.link-is-visible {
    opacity           : 1;
    visibility        : visible;
    -webkit-transform : translate3d(0, 0, 0);
    transform         : translate3d(0, 0, 0);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * site content & footer
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1600px) {

    .s-content,
    .s-footer {
        padding-left : 320px;
    }
}

@media screen and (max-width: 1200px) {

    .s-content,
    .s-footer {
        padding-left : 290px;
        width        : calc(100% - 80px);
    }
}

@media screen and (max-width: 1100px) {

    .s-content,
    .s-footer {
        padding-left : 0;
        width        : 100%;
    }

    .s-content {
        padding-top : 14.2rem;
    }

    .content__page {
        padding-bottom : 8rem;
    }

    .go-top {
        bottom : 0;
        right  : 0;
    }
}

@media screen and (max-width: 600px) {
    .s-content {
        padding-top : 12.6rem;
    }

    .content__page {
        padding-bottom : 4rem;
    }

    .footer__copyright span {
        display : block;
    }

    .footer__copyright span::after {
        display : none;
    }
}



/* -------------------------------------------------------------------
 * ## related articles
 * ------------------------------------------------------------------- */
.entry__related {
    margin-top  : 10.2rem;
    padding-top : 2rem;
    border-top  : 1px solid rgba(0, 0, 0, 0.1);
    position    : relative;
}

.entry__related h3 {
    margin-top    : 0;
    margin-bottom : 3.2rem;
}

.entry__related h5 {
    margin-top  : .8rem;
    font-size   : 1.9rem;
    font-weight : 400;
    line-height : 2.8rem;
}

.related {
    list-style  : none;
    margin-left : -4rem;
}

.related__item {
    float         : left;
    width         : 33.33333%;
    padding-left  : 4rem;
    margin-bottom : 3.2rem;
}

.related__link {
    display  : block;
    position : relative;
}

.related__link img {
    vertical-align : bottom;
}

.related__link::before {
    content    : "";
    display    : block;
    background : rgba(255, 255, 255, 0.2);
    opacity    : 0;
    visibility : hidden;
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    transition : all .3s;
}

.related__link:hover::before {
    opacity    : 1;
    visibility : visible;
}


@media screen and (max-width: 800px) {
    .entry__header-meta {
        font-size : 1.7rem;
    }

    .entry__prev,
    .entry__next {
        width         : auto;
        float         : none;
        padding-right : 0;
    }

    .entry__nav [class*="entry__"]+[class*="entry__"] {
        margin-top : 2rem;
    }

    .related {
        margin-left : -4.4rem;
    }

    .related__item {
        padding-left : 4.4rem;
        width        : 50%;
    }

    .related__item:nth-child(2n+1) {
        clear : both;
    }
}

@media screen and (max-width: 600px) {
    .related {
        margin-left : -2rem;
    }

    .related__item {
        padding-left : 2rem;
    }
}

@media screen and (max-width: 460px) {
    .related {
        margin-left : 0;
    }

    .related__item {
        float        : none;
        width        : auto;
        padding-left : 0;
    }
}


