


#mainContents{
	width: 100%;
}

.teaserArea{
	max-width: 100%;
	width: inherit;
}

.teaser{
	max-width: 100%;
	width: inherit;
}

 
.posterArea{
	overflow-x: hidden;
    overflow-y: hidden;
    height: 420px;
    white-space: nowrap;
    width: 95%;
    margin: auto;
    scroll-behavior: smooth;
}
.resultPosterArea{
	margin: auto;
}
.recoArea{
    overflow-y: scroll;
    width: 95%;
    margin: auto;
    scroll-behavior: smooth;
}

.posterItem{
	display: inline-block;
	top: 0;
	border: 0px; 
	position: relative; 
	width: 250px;
	height: 400px; 
	position: relative; 
	margin: 20px;
	border: 1px solid;
	transition: all 1s;
 	bottom: calc(100% - 39px);
}

.posterImg{
	width: inherit;
	height: inherit;
	object-fit: cover;
	z-index: 10;
	transition: opacity 0.3s;
}

.selectEp{
	max-width: 100%;
	max-height: 100%;
	width: inherit;
	height: inherit;
	padding: .8em .5em;
	border: 1px solid #999;
	font-family: inherit;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.episodeSelection{
	border: 1px solid;
	position: absolute; 
	z-index: 1; 
	max-width: 100%; 
	width: inherit;
	bottom: 0;
	left: 0;
}

.selectEpDiv{
	position: absolute;
	max-width: 100%;
	width: inherit;
	bottom: 0;
	left: 0;
	z-index: 10000;
	visibility: hidden;
}

.videoInformation{
	top: 0px;
	left: 0;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	width: 90%;
	height: inherit;
	display: none;
	z-index: 10;
	transition: display 0.3s;
	white-space: pre-wrap;
	margin: 0px 10px 0px 10px;
}


.posterItem:hover > .videoInformation{
	display: block;
	z-index: 10; 
}
.posterItem:hover > .posterImg{
	opacity: 0.1;
	z-index: -1; 
}
.posterItem:hover > .selectEpDiv{
	visibility: visible;
}

.playBtn{
	font-weight:bold;
	text-decoration:none;
	font-family:Arial;
	text-indent:0px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	color:#e0e0e0;
	background: #404a4a;
	padding: 0px;
	border-bottom: solid #1a1a1a 1px;
	border-color:#b6b6b6;
	border-width:0px;
	border-style:solid;
	margin: 0px 0px 2px 0px;
}

.infoText{
	color: #b7b7a1;
	margin: 0px 0px 1px 0px;
}

.arrowImg{
	width: 30px;
	height: 30px;
}

.recoInfo{
	position: absolute; 
	display: none; 
	top: 5%; 
	color: #e5e5cb;
	height: inherit;
	width: inherit;
	text-align: center;
	white-space: pre-wrap;
	opacity: 1;
	z-index: 99990;
}

.posterItem:hover > .recoInfo{
	display: block;
	z-index: 10; 
	opacity: 1;
	color: #fdffe3;
	
}

.leftSlideBtn{
	position: absolute;
	top: 50%;
	height: inherit;
	z-index: 999999;
	opacity: 0.3;
}

.rightSlideBtn{
	position: absolute;
	top: 50%;
	right: 0%;
	z-index: 999999;
	opacity: 0.3;
}

.totalMedia{
	position: relative;
}

.rightSlideBtn:hover {
	opacity: 1;
}
.leftSlideBtn:hover {
	opacity: 1;
}

.MediaTitle{
	color: #fdffe3;
	border-width:1px; 
	white-space: pre-wrap;
}

















